[Unit]
Description=Git credential cache daemon

[Service]
Type=simple
RuntimeDirectory=git-credential-cache
RuntimeDirectoryMode=0700
ExecStart=/usr/bin/git credential-cache--daemon %t/git-credential-cache/socket
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
